.projectsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

.projectDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #772CE8;
    margin: 20px 25px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 6px;
    max-width: 500px;
    height: 250px;
}

.projectDiv:hover {
    transform: scale(1.1);
}

.projectDiv p {
    margin: 8px 0;
    color: #fff;
    font-weight: bolder;
}

.projectDiv img{
    width: 350px;
    height: 200px;
    padding: 15px;
}

.onlineStoreImg {
    border-radius: 25px;
}